@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.Navbar {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: #141414;
    justify-content: center;
}

.Navbar ul li{
    font-weight: 500;
    padding: 25px;
    flex-direction: column;
}

.Navbar a {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.Navbar a:hover {
    color: #d99a10;
}

.Navbar img {
    height: 50px;
    width: 50px;
    padding-top: 10px;
    filter: drop-shadow(0 0 0.4rem #000);
}

.Home {
    height: 600px;
    width: 100%;
    background-image: url("/img/Background.webp");
    background-position: center;
    background-size: cover;
}

.Home h1 {
    padding-top: 100px;
    font-size: 60px;
    padding-bottom: 10px;
    font-weight: 800;
    text-align: center;
    color: #fff;
}

.Home h1::selection {
    color: #fff;
    background: #d99a10;
}

.Home p {
    padding-bottom: 30px;
    text-align: center;
    color: #fff;
}

.Home p::selection {
    color: #fff;
    background: #d99a10;
}

.Home button {
    display: flex;
    margin: auto;
    border: none;
    padding: 15px;
    height: 50px;
    border-radius: 15px;
    background-color: #d99a10;
    cursor: pointer;
}

.Home button, a {
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}

.Socials-Home {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 230px;
    font-size: 17px;
}

.Socials-Home i:hover {
    color: #d99a10;
}

.Partners {
    height: 300px;
    width: 100%;
    background-color: #d99a10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Partners h2 {
    font-weight: 800;
}

.Partners h2::selection {
    color: #d99a10;
    background: #fff;
}

.Partners img {
    height: 150px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0 0 0.4rem #000);
}

.Art {
    height: 300px;
    width: 100%;
    background-color: #141414;
}

.Art h2 {
    font-weight: 800;
    padding-top: 50px;
    text-align: center;
    color: #d99a10;
}

.Art h2::selection {
    color: #d99a10;
    background: #fff;
}

.Art img {
    height: 120px;
    padding: 20px;
}

.Team {
    height: 400px;
    width: 100%;
    background-color: #d99a10;
}

.Team h2 {
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
}

.Team h2::selection {
    color: #d99a10;
    background: #fff;
}

.Team-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.Team-container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.5rem #000);
}

.Team-container p {
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
}

.float{
	position:fixed;
	width: 30px;
	height: 30px;
	bottom: 15px;
	right: 15px;
	background-image: url(/img/Logo.webp);
    background-size:cover;
    object-fit: cover;
	border-radius:50px;
}

.my-float{
	margin-top:22px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #141414;
}

footer p {
    padding-top: 25px;
    text-align: center;
    color: #fff;
}

footer p::selection {
    color: #d99a10;
}

.Socials {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 15px;    
}

.Socials i {
    padding: 10px;
    border-radius: 50%;
    background-color: #333;
    color: #666;
}

.Socials i:hover {
    color: #d99a10;
    box-shadow: 0 0 15px #d99a10;
    transition: 0.75s;
}

.NavbarMobile {
    display: none;
}

.PartnersMobile {
    display: none;
}

.ArtMobile {
    display: none;
}

.TeamMobile {
    display: none;
}



@media screen and (max-width: 768px) {
    .Navbar {
      display: none;
    }

    .NavbarMobile {
        display: block;
        height: 60px;
        background-color: #141414;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .NavbarMobile img{
        height: 40px;
        padding: 10px;
        display: block;
        filter: drop-shadow(0 0 0.4rem #000);
    }

    .Partners {
        display: none;
    }

    .PartnersMobile {
        height: 400px;
        width: 100%;
        background-color: #d99a10;
    }

    .PartnersMobile h2 {
        text-align: center;
        padding: 30px;
    }

    .PartnersMobile img {
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding: 10px;
        height: 130px;
        border-radius: 30px;
        filter: drop-shadow(0 0 0.4rem #000);
    }

    .Art {
        display: none;
    }

    .ArtMobile {
        display: block;
        height: 400px;
        background-color: #141414;
    }

    .ArtMobile h2 {
        text-align: center;
        padding: 20px;
        color: #d99a10;
    }

    .slideshow-container {
        max-width: 300px;
        position: relative;
        margin: auto;
      }
      
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 0;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
      }
      
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      .prev:hover,
      .next:hover {
        border-radius: 30px;
        background-color: #d99a10;
      }

      .mySlides img {
        display: flex;
        margin: auto;
        height: 90%;
        width: 90%;
        border-radius: 10%;
        filter: drop-shadow(0 0 0.5rem #000);
      }

      .Team {
        display: none;
      }

      .TeamMobile {
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 100%;
        background-color: #d99a10;
      }
    
      .TeamMobile h2 {
        font-weight: 800;
        text-align: center;
        color: #000;
        }
        
        .TeamMobile img {
            display: block;
            margin: 0 auto;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            filter: drop-shadow(0 0 0.5rem #000);
        }

        .TeamMobile p {
            padding: 15px;
            text-align: center;
        }
}