@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.Navbar {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: #141414;
    justify-content: center;
}

.Navbar ul li{
    font-weight: 500;
    padding: 25px;
    flex-direction: column;
}

.Navbar a {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.Navbar a:hover {
    color: #d99a10;
}

.Navbar img {
    height: 50px;
    width: 50px;
    padding-top: 10px;
    filter: drop-shadow(0 0 0.4rem #000);
}

.Home {
    height: 600px;
    width: 100%;
    background-image: url("/img/Background.webp");
    background-position: center;
    background-size: cover;
}

.Home h1 {
    padding-top: 100px;
    font-size: 60px;
    padding-bottom: 10px;
    font-weight: 800;
    text-align: center;
    color: #fff;
}

.Home h1::selection {
    color: #fff;
    background: #d99a10;
}

.Home p {
    padding-bottom: 30px;
    text-align: center;
    color: #fff;
}

.Home p::selection {
    color: #fff;
    background: #d99a10;
}

.Home button {
    display: flex;
    margin: auto;
    border: none;
    padding: 15px;
    height: 50px;
    border-radius: 15px;
    background-color: #d99a10;
}

.Home button, a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}

.Socials-Home {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 230px;
    font-size: 17px;
}

.Socials-Home i:hover {
    color: #d99a10;
}

.Partners {
    height: 300px;
    width: 100%;
    background-color: #d99a10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Partners h2 {
    font-weight: 800;
}

.Partners h2::selection {
    color: #d99a10;
    background: #fff;
}

.Partners img {
    height: 150px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0 0 0.4rem #000);
}

.Art {
    height: 300px;
    width: 100%;
    background-color: #141414;
}

.Art h2 {
    font-weight: 800;
    padding-top: 50px;
    text-align: center;
    color: #d99a10;
}

.Art h2::selection {
    color: #d99a10;
    background: #fff;
}

.Art img {
    height: 120px;
    padding: 20px;
}

.Team {
    height: 400px;
    width: 100%;
    background-color: #d99a10;
}

.Team h2 {
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
}

.Team h2::selection {
    color: #d99a10;
    background: #fff;
}

.Team-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.Team-container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.5rem #000);
}

.Team-container p {
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
}

.float{
	position:fixed;
	width: 30px;
	height: 30px;
	bottom: 15px;
	right: 15px;
	background-image: url(/img/Logo.webp);
    background-size:cover;
    object-fit: cover;
	border-radius:50px;
}

.my-float{
	margin-top:22px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #141414;
}

footer p {
    padding-top: 25px;
    text-align: center;
    color: #fff;
}

footer p::selection {
    color: #d99a10;
}

.Socials {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 15px;    
}

.Socials i:hover {
    color: #d99a10;
}

